/* ____________________________________________about container________________________________ */

.about-container {
  position: absolute;
  left: -0px;
}
@media screen and (max-width: 600px) {
  
}

.about-container h1 {
  font-size: 5vh;
}
@media screen and (max-width: 360px) {
  h1 {
    font-size: 3vh !important;
  }
}
@media screen and (max-width: 600px) {
  .about-container p {
    font-size: 1.2vh !important;
  }
}
/* ____________________________________________fotter container________________________________ */

.footer-container {
  position: absolute;
  top: 82vh;
  right: 0vh;
  left: 0vh;
  border-top: 0.1vh solid rgb(225, 214, 214);
}
@media screen and (max-width: 600px) {
  .footer-container h3 {
    font-size: 1.5vh !important;
  }
}
@media screen and (max-width: 600px) {
  .footer-container p {
    font-size: 1.1vh !important;
  }
}
@media screen and (max-width: 600px) {
  .footer-container li {
    font-size: 1.1vh !important;
  }
}

.footer-container a {
  text-decoration: none;
  color: black;
}
/* ____________________________________________paragraph container________________________________ */

.paragraph-container p {
  text-align: center;
  margin-left: 1vh;
  margin-right: 1vh;
}
@media screen and (max-width: 600px) {
  .footer-list {
    margin-left: 0vh;
  }
}
/* ____________________________________________h1 about________________________________ */

.h1-about {
  text-align: center !important;
}
/* ____________________________________________fotter list________________________________ */

.footer-list {
  margin-left: 60%;
  list-style: none;
  display: flex;
}
@media screen and (max-width: 600px) {
  .footer-list {
    margin-left: 0vh;
  }
}
/* ____________________________________________address________________________________ */
.address {
  margin-left: 3vh;
}
@media screen and (max-width: 600px) {
  .address {
    margin-left: 8vh;
  }
}

/* ____________________________________________usefull link________________________________ */

.useful-links {
  margin-left: 6vh;
  margin-right: 6vh;
}

.useful-links li {
  margin: 0.8vh;
}

/* ____________________________________________contact info________________________________ */

.contact-info {
  margin-left: 3vh;
}
@media screen and (max-width: 600px) {
  .contact-info {
    margin-left: 1vh !important;
  }
}
.contact-info li {
  margin-top: 0.9vh;
}
@media screen and (max-width: 600px) {
  .contact-info li{
    margin-top: 0.5vh !important;
  }
}
.contact-info img {
  width: 3.5vh;
}
@media screen and (max-width: 600px) {
  .contact-info img{
    width: 2vh !important;
  }
}
/* ____________________________________________copy right________________________________ */
.copyright {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px) {
  .copyright p {
    display: inline;
  }
}

.copyright a {
  color: rgb(200, 216, 221);
  
}

@media screen and (max-width: 600px) {
  .copyright a {
    font-size: 1.2vh !important;
  }
}
