body.light-mode{
  background: linear-gradient(
    90deg,
    hsla(213, 75%, 62%, 1) 0%,
    hsla(313, 75%, 62%, 1) 100%
  );
  /* overflow-x: hidden; */
  /* height: 100vh; */
  width: 100vh;
  overflow: auto;
  /* min-width: 600px; */
}
/* ....................................H1 H3................................... */

body.light-mode h3 {
  color: rgb(255, 255, 255);
  font-size: 2.6vh;
}

/* ....................................TABLE................................... */
body.light-mode table {
  border-collapse: collapse;
  font-size: 2.2vh;
  font-family: sans-serif;
  min-width: 56.5vh;

}
body.light-mode .main-td {
  position: fixed;
  min-width: 56.5vh !important;
  background-color: #009879 !important;
  box-shadow: 0 0 2vh rgb(221, 209, 209);
}

body.light-mode thead tr {
  background-color: #009879;
  
  color: #ffffff;
  text-align: left;
}

body.light-mode th,
td {
  padding: 1.8vh 7vh;
}
body.light-mode td {
  color: black ;
}


body.light-mode tbody tr:nth-of-type(even) {
  background-color: #f7ecec;
}

body.light-mode tr:hover td {
  cursor: pointer;
  transform: translateY(-0.2vh);
}

/* ....................................INPUT................................... */

body.light-mode label {
  float: left;

  padding: 0.9vh;
  width: 0.4vh;
  margin-left: 1vh;
}


body.light-mode input {
  background-color: transparent;
  border-radius: 1.5vh;
  border-color: #fffcfc;
  margin-left: 15vh;
  margin-top: 1.5vh;
  width: 50%;
  max-width: 400px;
}
body.light-mode input::placeholder {
  color: rgba(54, 29, 29, 0.596);
}
/* ....................................BUTTON................................... */
body.light-mode button {
  background-color: transparent;
  border-color: #dddddd;
  color: black;
  border-radius: 1.5vh;
  width: auto;
  margin-left: 1.5vh;
  margin-bottom: 1.5vh;
}
/* ....................................REST COMPONENT................................... */
body.light-mode .rest_of_component {
  height: 90vh;
  overflow: auto;

  position: absolute;
  left: 50%;
  top: 10%;
}

body.light-mode .rest_of_component h3 {
  /* position: absolute; */
  left: 29vh;
  font-size: 2.5vh ;
}

/* ....................................HOME................................... */
body.light-mode .home_component {
  /* padding-top: 2.5%; */
  height: 90vh ;
  overflow: auto;
  position: fixed;
  right: 60%;
  top: 11% ; 
}
body.light-mode .all-user h1 {
  position: absolute;
  left: 29vh;
  font-size: 4vh ;
}
/* ...................................SCROLL BAR................................... */

body.light-mode ::-webkit-scrollbar {
  color: transparent;
}