body.light-mode{
  background: linear-gradient(
    90deg,
    hsla(213, 75%, 62%, 1) 0%,
    hsla(313, 75%, 62%, 1) 100%
  );
  height: 100%;
  width: auto;
  overflow: auto;
  /* min-width: 600px; */
}
/* ....................................H1 H3................................... */
body.light-mode h1 {
  color: rgb(255, 255, 255);
}
body.light-mode h3 {
  color: rgb(255, 255, 255);
}

/* ....................................TABLE................................... */
body.light-mode table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}
body.light-mode .main-td {
  position: fixed;
  min-width: 400px !important;
  background-color: #009879 !important;
  box-shadow: 0 0 20px rgb(221, 209, 209);
}

body.light-mode thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

body.light-mode th,
td {
  padding: 12px 50px;
}
body.light-mode td {
  color: black ;
}


body.light-mode tbody tr:nth-of-type(even) {
  background-color: #f7ecec;
}

body.light-mode tr:hover td {
  cursor: pointer;
  transform: translateY(-2px);
}

/* ....................................INPUT................................... */

body.light-mode label {
  float: left;
  
  padding: 5px;
  width: 1px;
  margin-left: 10px;
}
body.light-mode input {
  background-color: transparent;
  border-radius: 10px;
  border-color: #fffcfc;
  margin-left: 100px;
  margin-top: 10px;
}
body.light-mode input::placeholder {
  color: rgba(54, 29, 29, 0.596);
}
/* ....................................BUTTON................................... */
body.light-mode button {
  background-color: transparent;
  border-color: #dddddd;
  border-radius: 10px;
  width: auto;
  margin-left: 10px;
}
/* ....................................REST COMPONENT................................... */
body.light-mode .rest_of_component {
  height: 800px;
  overflow: auto;

  position: absolute;
  left: 50%;
  top: 5%;
}
/* ....................................HOME................................... */
body.light-mode .home_component {
  /* padding-top: 2.5%; */
  height: 800px;
  overflow: auto;
  position: fixed;
  right: 60%;
  top: 80px !important;
}
body.light-mode .all-user h1 {
  position: absolute;
  right: 74%;
}
/* ...................................SCROLL BAR................................... */

body.light-mode ::-webkit-scrollbar {
  color: transparent;
}
