/* __________________________________________________________________________________________IMG CONTAINER___________________________________________________________________________________ */
.imgcontainer {
  position: absolute;
  top: 1.2vh;
  right: 1vh;
  width: auto;
  z-index: 2;

}

img.avatar {
  width: 6vh;

  border-radius: 50%;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.6);
}

img.avatar:hover {
      transform: scale(1.1);
}
/* __________________________________________________________________________________________RECONNECT___________________________________________________________________________________ */
.reconnect {
  position: absolute;
  top: 95vh;
  left: 90vh;
} 
/* __________________________________________________________________________________________SIDE BAR___________________________________________________________________________________ */